<div >
  <table>
    <tr>
      <td>
        <button class="button" (click)="changeShowStatus()">{{showDetailsLabel}}</button>
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <div *ngIf="!showDetails">
          <table>
            <tr>
              <td class="label-color">
                {{carAddingDateLabel}}
              </td>
              <td>
                {{car.date | date:'yyyy-MM-dd'}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carMileageLabel}}
              </td>
              <td>
                {{car.mileage}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carTechnicalConditionLabel}}
              </td>
              <td>
                {{car.technicalCondition}}
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="showDetails">
          <table>
            <tr>
              <td class="label-color">
                {{carNameLabel}}
              </td>
              <td>
                {{car.carName}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carModelLabel}}
              </td>
              <td>
                {{car.model}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carYearProductionLabel}}
              </td>
              <td>
                {{car.yearProduction}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carWeekProductionLabel}}
              </td>
              <td>
                {{car.weekProduction}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carBodyStyleLabel}}
              </td>
              <td>
                {{car.bodyType}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carColorLabel}}
              </td>
              <td>
                {{car.color}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carEngineTypeLabel}}
              </td>
              <td>
                {{car.engineType}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carGearboxTypeLabel}}
              </td>
              <td>
                {{car.gearboxType}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carTechnicalConditionLabel}}
              </td>
              <td>
                {{car.technicalCondition}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carMileageLabel}}
              </td>
              <td>
                {{car.mileage}}
              </td>
            </tr>
            <tr>
              <td class="label-color">
                {{carAddingDateLabel}}
              </td>
              <td>
                {{car.date | date:'yyyy-MM-dd' }}
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
