<div class="header">
  <div class="label">
    {{mainPageLabel}}
  </div>
  <div class="flex-component">
    <div *ngFor="let src of flagsPath; index as i">
      <img [src]="src" (click)="changeLanguage(i)" class="flag">
    </div>
  </div>
</div>
<div class="center-component">
  <div *ngIf="search" class="search-component">
    <div  class="flex-component">
      <div class="main-label" style="margin-right: 5px">
        {{insertVinNumber}}
      </div>
      <input [class]="inputClassName" [(ngModel)]="vin" type="text" style="margin-right: 5px" oninput="this.value = this.value.toUpperCase()" maxlength="17">
      <button (click)="searchVIN()" class="button" style="margin-right: 5px">{{searchLabel}}</button>
      <button (click)="clearInput()" class="button" style="margin-right: 5px">{{clearLabel}}</button>
    </div>
  </div>
  <div *ngIf="!search" class="display-component">
    <table>
      <tr *ngFor="let stolen of stolenInfo">
        <td>
          {{stolen.date | date:'yyyy-MM-dd' }}
        </td>
        <td>
          {{carWasStolenLabel}}
        </td>
      </tr>
      <tr *ngFor="let scrap of scrapInfo">
        <td>
          {{scrap.date | date:'yyyy-MM-dd' }}
        </td>
        <td>
          {{carWasScrapedLabel}}
        </td>
      </tr>
      <tr>
        <td class="label-color">
          {{vinLabel}}
        </td>
        <td>
          {{mainInfo[0].VIN}}
        </td>
      </tr>
      <tr>
        <td class="label-color">
          {{carName}}
        </td>
        <td>
          {{mainInfo[0].carName}}
        </td>
      </tr>
      <tr>
        <td class="label-color">
          {{carYear}}
        </td>
        <td>
          {{mainInfo[0].yearProduction}}
        </td>
      </tr>
      <tr>
        <td class="label-color">
          {{carColor}}
        </td>
        <td>
          {{mainInfo[0].color}}
        </td>
      </tr>
      <tr>
        <td class="label-color">
          {{numberOfOwnersLabel}}
        </td>
        <td>
          {{numberOfOwners}}
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="return()" class="button" style="margin-right: 5px">{{returnLabel}}</button>
        </td>
        <td>
          <button (click)="generatePDFFile()" class="button" style="margin-right: 5px">{{generateRaport}}</button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="!search">
    <div *ngFor="let instance of mainInfo" class="center-second">
      <info-instance [car]="instance" [languageIndex]="languageIndex"></info-instance>
    </div>
  </div>
</div>
<div class="footer">
  <div class="label">
    FOOTER
  </div>
</div>

