<div class="header">
  <div class="label">
    {{mainPageLabel}}
  </div>
  <div class="flex-component">
    <div *ngFor="let src of flagsPath; index as i">
      <img [src]="src" (click)="changeLanguage(i)" class="flag">
    </div>
  </div>
</div>
<div class="center-component">
  <div *ngIf="search" class="search-component">
    <div  class="flex-component">
      <div class="main-label" style="margin-right: 5px">
        {{insertVinNumber}}
      </div>
      <input [class]="inputClassName" [(ngModel)]="vin" type="text" style="margin-right: 5px" oninput="this.value = this.value.toUpperCase()" maxlength="17">
      <button (click)="searchVIN()" class="button" style="margin-right: 5px">{{searchLabel}}</button>
      <button (click)="clearInput()" class="button" style="margin-right: 5px">{{clearLabel}}</button>
    </div>
  </div>
  <div *ngIf="!search" class="display-component">
    <div *ngIf="warning">
      Warning
    </div>
    <table> <!--Krótki opis auta-->
      <tr>
        <td>
          {{vinLabel}}
        </td>
        <td>
          {{instances[0].VIN}}
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex-component">
            {{carName}}
            {{instances[0].carName}}
          </div>
        </td>
        <td>
          <div class="flex-component">
            {{carModel}}
            {{instances[0].model}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flex-component">
            {{carYear}}
            {{instances[0].yearProduction}}
          </div>
        </td>
        <td>
          <div class="flex-component">
            {{carColor}}
            {{instances[0].color}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="return()" class="button" style="margin-right: 5px">{{returnLabel}}</button>
        </td>
        <td>
          <button (click)="generatePDFFile()" class="button" style="margin-right: 5px">{{generateRaport}}</button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngFor="let instance of instances" class="center-second"> <!--Lista informacji-->
    <info-instance [car]="instance"></info-instance>
  </div>
</div>
<div class="footer">
  <div class="label">
    FOOTER
  </div>
</div>

